@page
@* @using BlazorApp1.Pages *@

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>
    <h1>TestBlazor</h1>
    @* <component type="typeof(Counter)" render-mode="WebAssemblyPrerendered" /> *@
</div>

@{
}

